# URL where the Symfony application is running.
# Default: http://localhost:80
# Default works for production.
# In local, you need the docker compose container name of the Symfony app (which is set in compose.yaml).
GO_SYMFONY_URL=

# Optional HTTPS DNS wire-format endpoint. The default is Cloudflare DoH.
# Example: https://cloudflare-dns.com/dns-query
DNS_OVER_HTTPS_URL=
